<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About the ARTicles</title>
  <link href="/../assets/stylesheets/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include ('partials/logo.ejs') -%>
    <h1>the ARTicles | Login</h1>
    <%- include ('partials/nav.ejs') -%>
  </header>

  <main>
    <h1>Login</h1>
    <%  %>
    <form class="" action="" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" value="<%= login.username %>"><br>
      <label for="password">Password</label>
      <input type="password" name="password" value="<%= login.password %>"><br>
      <input type="submit" name="submit">
    </form>
    <a href="/signup" class="small-text">Don't have an account?</a>
  </main>

  <%- include ('partials/footer.ejs') -%>
</body>

</html>
